#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home{
    height: 360px;
    padding: 3px 69px;
    /* flex-direction: column; */
}

#home::before{
    height: 480px;
    /* flex-direction: column; */
}

#home p{
    font-size: 10px;

}

#services{
    flex-direction: column;
}


#services .box{
    padding: 14px;
    margin: 2px -20px;
    margin-bottom: 20px;
}

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: auto;
}

#contact-box form{
    width: 80%;
}

.h-primary{
    font-size: 20px;
}
.btn{
    font-size: 10px;
    padding: 4px 8px;
}